# Pandas užduotys 3

In [1]:
import numpy as np
import pandas as pd

# 1 Ištraukite lentelę iš [šios](https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm) svetainės. Išsaugokite kintamąjame.

# 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. Patikrinkite, ar suveikė.

# 3 Nuskaitykite į DF šį [failą](https://github.com/robotautas/kursas/blob/master/Pandas/top_20_CA_wildfires.csv)

# 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

# 5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?

# 6 Kuriais metais buvo daugiausia gaisrų?

# 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

# 8 Surūšiuokite eilutes pagal metus. Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje

# 9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi. Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais. 
*nusikopijuokite žodyną, kad nereikėtų rašyti ranka :)*

In [2]:
menesiai = {1: 'January',
  2: 'February',
  3: 'March',
  4: 'April',
  5: 'May',
  6: 'June',
  7: 'July',
  8: 'August',
  9: 'September',
  10: 'October',
  11: 'November',
  12: 'December'}

In [3]:
fires.head()

NameError: name 'fires' is not defined

# 10 Nuskaitykite lentelę iš [čia](https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus).

* **Pakeiskite indeksą į stulpelį 'Miestas'**
* **Sutvarkykite duomenis taip, kad gyventojų sk. reprezentuotų lengelis su 'int' reikšme: -
Ten kur trūksta duomenų - nulis. 
ten, kur reikšmės ne integer, sutvarkykite, kad būtų integer.**

In [ ]:
#pabaigoje, miestai.info() turėtų rodyti tokį rezultatą

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, Vilnius to Panemunė
Data columns (total 9 columns):
2019    103 non-null int64
2011    103 non-null int64
2001    103 non-null int64
1989    103 non-null int64
1979    103 non-null int64
1970    103 non-null int64
1959    103 non-null int64
1923    103 non-null int64
1897    103 non-null int64
dtypes: int64(9)
memory usage: 13.0+ KB