# Pandas užduotys 3

In [1]:
import numpy as np
import pandas as pd

# 1 Ištraukite lentelę iš [šios](https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm) svetainės. Išsaugokite kintamąjame.

In [2]:
html = pd.read_html("https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm")

In [7]:
html[1].head()

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

In [8]:
countries = html[1]

# 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. Patikrinkite, ar suveikė.

In [ ]:
# kuriam CSV faila 
countries.to_csv('countries.csv', index=False)
# kuriam exel faila 
countries.to_excel('countries.xls', 'sheet_1', index=False)

### Kuriam duomen baze ### 
from sqlalchemy import create_engine
engine = create_engine('sqlite:///countries.db')
countries.to_sql('countries', con=engine, index=False)

# 3 Nuskaitykite į DF šį [failą](https://github.com/robotautas/kursas/blob/master/Pandas/top_20_CA_wildfires.csv)

In [9]:
fires = pd.read_csv('top_20_CA_wildfires.csv')

In [19]:
fires.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

# 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

In [12]:
len(fires['cause'].unique())

5

# 5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?

In [13]:
fires['cause'].value_counts()

Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: cause, dtype: int64

# 6 Kuriais metais buvo daugiausia gaisrų?

In [14]:
fires['year'].value_counts().idxmax()

2018

# 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

In [17]:
fires['deaths'].value_counts().drop(0).sum()

10

# 8 Surūšiuokite eilutes pagal metus. Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje

In [20]:
fires.sort_values('year', ascending=False).head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0

# 9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi. Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais. 
*nusikopijuokite žodyną, kad nereikėtų rašyti ranka :)*

In [22]:
menesiai = {1: 'January',
  2: 'February',
  3: 'March',
  4: 'April',
  5: 'May',
  6: 'June',
  7: 'July',
  8: 'August',
  9: 'September',
  10: 'October',
  11: 'November',
  12: 'December'}

In [38]:
def months_to_nums(month):
    months = {1: 'January',
  2: 'February',
  3: 'March',
  4: 'April',
  5: 'May',
  6: 'June',
  7: 'July',
  8: 'August',
  9: 'September',
  10: 'October',
  11: 'November',
  12: 'December'}
    for id, mn in months.items():
        if mn == month:
            return id

In [52]:
months_to_nums('October')

10

In [53]:
fires['month'] = fires['month'].apply(months_to_nums)

# 10 Nuskaitykite lentelę iš [čia](https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus).

* **Pakeiskite indeksą į stulpelį 'Miestas'**
* **Sutvarkykite duomenis taip, kad gyventojų sk. reprezentuotų lengelis su 'int' reikšme: -
Ten kur trūksta duomenų - nulis. 
ten, kur reikšmės ne integer, sutvarkykite, kad būtų integer.**

In [55]:
data = pd.read_html("https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus")

In [57]:
len(data)

8

In [59]:
# kadangi sąrašas iš vieno elemento, nereikia spėlioti. Patogumo dėlei persivadiname DF. 
miestai = data[0]

In [101]:
miestai.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, Vilnius to Panemunė
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Eilė             103 non-null    int64
 1   2020             103 non-null    object
 2   2019 m.          103 non-null    int64
 3   2011             103 non-null    int64
 4   2001             103 non-null    int64
 5   1989             103 non-null    int64
 6   1979             103 non-null    int64
 7   1970             103 non-null    int64
 8   1959             103 non-null    int64
 9   1923             103 non-null    object
 10  1897             103 non-null    object
 11  Tankumas (2019)  103 non-null    object
dtypes: int64(8), object(4)
memory usage: 10.5+ KB

In [103]:
miestai.set_index('Miestas', inplace=True)
miestai.replace(['(??)', '(?)'], int(0), inplace=True)

KeyError: "None of ['Miestas'] are in the columns"