Sukurti programą, kuri:

-    Sukurtų sąrašą iš skaičių nuo 0 iki 50
-    Padaugintų visus sąrašo skaičius iš 10 ir atspausdintų
-    Atrinktų iš sąrašo skaičius, kurie dalinasi iš 7 ir atspausdintų
-    Pakeltų visus sąrašo skaičius kvadratu ir atspausdintų
-    Su kvadratų sąrašu atliktų šiuos veiksmus: atspausdintų sumą, mažiausią ir didžiausią skaičių, vidurkį, medianą
-    Surūšiuotų ir atspausdintų kvadratų sąrašą atbulai

Patarimai:

-    Naudoti map, filter arba comprehension, sum, min, max, mean, median, %
-    from statistics import mean, median

In [2]:
from statistics import mean, median

In [4]:
numbers_list = list(range(51))

In [7]:
new = [x * 10 for x in numbers_list]
new

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490,
 500]

In [9]:
divisible_7 = [x for x in numbers_list if x % 7 == 0]
divisible_7

[0, 7, 14, 21, 28, 35, 42, 49]

In [11]:
square = [x ** 2 for x in numbers_list]
square

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500]

In [13]:
print(sum(square))
print(max(square))
print(min(square))
print(mean(square))
print(median(square))

42925
2500
0
841.6666666666666
625

In [14]:
forward = sorted(square, reverse=True)
forward

[2500,
 2401,
 2304,
 2209,
 2116,
 2025,
 1936,
 1849,
 1764,
 1681,
 1600,
 1521,
 1444,
 1369,
 1296,
 1225,
 1156,
 1089,
 1024,
 961,
 900,
 841,
 784,
 729,
 676,
 625,
 576,
 529,
 484,
 441,
 400,
 361,
 324,
 289,
 256,
 225,
 196,
 169,
 144,
 121,
 100,
 81,
 64,
 49,
 36,
 25,
 16,
 9,
 4,
 1,
 0]